:root{
    padding: 0px;
    border: 0px;
    margin: 0px;
    /* Color Theme Swatches in Hex */
    --color1: #03A678;
    --color2: #027353;
    --color3: #F2AF5C;
    --color4: #F2762E;
    --color5: #F23D3D;
    --color6: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    background-color: var(--color1);
    font-size: 1rem;
    word-wrap: break-word;
}
body{
    background-color: white;
    color: var(--color6);
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}
header, main{
    width: 95%;
    margin: auto;
}
header p{
    text-align: center;
    padding: 15px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    padding-top: 15px;
    color: white;
}
p{
    margin: 5px;
}
span{
    font-size: 0.8rem;
    word-break: break-word;
}
.subtitulo{
    background-color: var(--color1);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: white;
}
p a{
    text-decoration: none;
    color: var(--color2);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
span a{
    text-decoration: none;
    color: var(--color2);
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
    margin-left: 10px;
}

@media (max-width:475px){
    body{
        width: 95%;
        padding: 0;
    }
    h1{
        padding-top: 15px;
        margin: 0;
    }
    .subtitulo{
        margin: 0;
    }
}